<!DOCTYPE html>
<html lang="en" style="display: flex; flex-direction: column; flex-grow: 1; height: 100%; box-sizing: border-box;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes App</title>
  </head>
  <body style="display: flex; flex-direction: column; flex-grow: 1; box-sizing: border-box; padding: 0; margin: 0; background-color: cornsilk;">
    <nav style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; text-align: center; font-size: 25px; background-color: palegreen; border: 5px solid black; height: 10vh">
      <a href="/">|| Home || &nbsp; </a>
      <a href="/notes">|| All Notes || &nbsp; </a>
      <a href="/notes/new">|| New Note || &nbsp; </a>
    </nav>
  </body>
</html>